.topbuttons{
   float:right;
   margin-right: 20px ;
}
h1{
    font-size: 50px;
}
.hello{
    color: darkblue;
}
.name{
    color: rgb(18, 126, 250);
}
#anchor{
    color: rgb(0, 0, 255);
    background-color:skyblue;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
}
.sectionone{
    width: 40%;
    float: left;
    padding-left: 5%;
    margin-left: 2%;
}
.sectionone img{
    width: 100%;
}
.topsite{
    padding-top: 50px;
    height: 500px;
}
#latest{
    color:darkgreen;
}
.middlepart{
    margin-top: 50px;
}